Repository green-code-initiative/ecoCode-android, pull requests merged in 2023-04, with the labels that each got.

#47 [iOS] Charge Awareness (EPOW001)
  ios-plugin/RULES.md
  ios-plugin/swift-lang/src/main/java/io/ecocode/ios/swift/EcoCodeSwiftVisitor.java
  ios-plugin/swift-lang/src/main/java/io/ecocode/ios/swift/checks/power/ChargeAwarenessCheck.java
  ios-plugin/swift-lang/src/main/resources/EPOW001.html
  ios-plugin/swift-lang/src/main/resources/ecocode-swift-rules.json
  ios-plugin/swift-lang/src/main/resources/ecocode_swift_profile.json
  ios-plugin/swift-lang/src/test/java/io/ecocode/ios/swift/checks/power/ChargeAwarenessCheckTest.java
  ios-plugin/swift-lang/src/test/resources/checks/power/ChargeAwareness_batteryLevelNotification_trigger.swift
  ios-plugin/swift-lang/src/test/resources/checks/power/ChargeAwareness_batteryLevel_trigger.swift
  ios-plugin/swift-lang/src/test/resources/checks/power/ChargeAwareness_batteryStateNotification_trigger.swift
  ios-plugin/swift-lang/src/test/resources/checks/power/ChargeAwareness_batteryState_trigger.swift
  ios-plugin/swift-lang/src/test/resources/checks/power/ChargeAwareness_no_trigger.swift
Labels: :card_file_box: rule, ios, 🏆 challenge 🏆

#52 [ESOB001] iOS Sobriety - Disabled Location Updates Pause
  ios-plugin/RULES.md
  ios-plugin/swift-lang/src/main/java/io/ecocode/ios/swift/EcoCodeSwiftVisitor.java
  ios-plugin/swift-lang/src/main/java/io/ecocode/ios/swift/checks/sobriety/LocationUpdatesDisabledCheck.java
  ios-plugin/swift-lang/src/main/resources/ESOB001.html
  ios-plugin/swift-lang/src/main/resources/ecocode-swift-rules.json
  ios-plugin/swift-lang/src/main/resources/ecocode_swift_profile.json
  ios-plugin/swift-lang/src/test/java/io/ecocode/ios/swift/checks/sobriety/LocationUpdatesDisabledCheckTest.java
  ios-plugin/swift-lang/src/test/resources/checks/sobriety/LocationUpdatesPausesDefaultValue_no_trigger.swift
  ios-plugin/swift-lang/src/test/resources/checks/sobriety/LocationUpdatesPausesDisabled_trigger.swift
  ios-plugin/swift-lang/src/test/resources/checks/sobriety/LocationUpdatesPausesEnabled_no_trigger.swift
Labels: :card_file_box: rule, ios, 🏆 challenge 🏆

#54 renamed tests skipped by maven
  ios-plugin/swift-lang/src/test/java/io/ecocode/ios/swift/checks/idleness/IdleTimerDisabledCheckTest.java
  ios-plugin/swift-lang/src/test/java/io/ecocode/ios/swift/checks/sobriety/BrightnessOverrideCheckTest.java
Labels: :syringe: bug

#55 [iOS] Power - Save mode awareness (EPOW002)
  ios-plugin/RULES.md
  ios-plugin/swift-lang/src/main/java/io/ecocode/ios/swift/checks/power/SaveModeAwarenessCheck.java
  ios-plugin/swift-lang/src/main/resources/EPOW002.html
  ios-plugin/swift-lang/src/main/resources/ecocode-swift-rules.json
  ios-plugin/swift-lang/src/main/resources/ecocode_swift_profile.json
  ios-plugin/swift-lang/src/test/java/io/ecocode/ios/swift/checks/power/SaveModeAwarenessCheckTest.java
  ios-plugin/swift-lang/src/test/resources/checks/power/SaveModeAwareness_PowerStateNotificationShort_trigger.swift
  ios-plugin/swift-lang/src/test/resources/checks/power/SaveModeAwareness_PowerStateNotification_trigger.swift
  ios-plugin/swift-lang/src/test/resources/checks/power/SaveModeAwareness_ProcessInfo_trigger.swift
  ios-plugin/swift-lang/src/test/resources/checks/power/SaveModeAwareness_no_trigger.swift
Labels: :card_file_box: rule, ios, 🏆 challenge 🏆

#57 [iOS] Idleness - Rigid Alarm (EIDL002)
  ios-plugin/RULES.md
  ios-plugin/swift-lang/src/main/java/io/ecocode/ios/swift/checks/idleness/RigidAlarmCheck.java
  ios-plugin/swift-lang/src/main/resources/EIDL002.html
  ios-plugin/swift-lang/src/main/resources/ecocode-swift-rules.json
  ios-plugin/swift-lang/src/main/resources/ecocode_swift_profile.json
  ios-plugin/swift-lang/src/test/java/io/ecocode/ios/swift/checks/idleness/RigidAlarmCheckTest.java
  ios-plugin/swift-lang/src/test/resources/checks/idleness/RigidAlarmCheck_no_trigger.swift
  ios-plugin/swift-lang/src/test/resources/checks/idleness/RigidAlarmCheck_trigger.swift
Labels: :card_file_box: rule, ios, 🏆 challenge 🏆

#58 #ESOB004_DarkUI
  android-plugin/src/main/java/io/ecocode/xml/checks/sobriety/DarkUIThemeXmlRule.java
  android-plugin/src/test/resources/checks/DarkUIThemeXmlRule/DarkUIThemeXmlCheckManifest.xml
  android-plugin/src/test/resources/checks/DarkUIThemeXmlRule/DarkUIThemeXmlCheckStyle.xml
Labels: android, 🏆 challenge 🏆

#56 [ESOB006] iOS Sobriety - Usage of `AVCaptureDevice#torchMode` or `AVCaptureDevice#setTorchModeOn(level:)` must absolutely be avoided
  ios-plugin/RULES.md
  ios-plugin/swift-lang/src/main/java/io/ecocode/ios/swift/checks/sobriety/TorchFreeCheck.java
  ios-plugin/swift-lang/src/main/resources/ESOB006.html
  ios-plugin/swift-lang/src/main/resources/ecocode-swift-rules.json
  ios-plugin/swift-lang/src/main/resources/ecocode_swift_profile.json
  ios-plugin/swift-lang/src/test/java/io/ecocode/ios/swift/checks/sobriety/TorchFreeCheckTest.java
  ios-plugin/swift-lang/src/test/resources/checks/sobriety/TorchFree_level_trigger.swift
  ios-plugin/swift-lang/src/test/resources/checks/sobriety/TorchFree_no_trigger.swift
  ios-plugin/swift-lang/src/test/resources/checks/sobriety/TorchFree_on_trigger.swift
  ios-plugin/swift-lang/src/test/resources/checks/sobriety/TorchFree_typeInference_on_trigger.swift
Labels: :card_file_box: rule, ios, 🏆 challenge 🏆

#59 [iOs][ESOB002][ESOB003] Implement 2 sobriety rules
  ios-plugin/RULES.md
  ios-plugin/swift-lang/src/main/java/io/ecocode/ios/swift/checks/CheckHelper.java
  ios-plugin/swift-lang/src/main/java/io/ecocode/ios/swift/checks/geolocalisation/ThriftyGeolocation.java
  ios-plugin/swift-lang/src/main/java/io/ecocode/ios/swift/checks/motionsensor/MotionSensorUpdateRateCheck.java
  ios-plugin/swift-lang/src/main/resources/ESOB002.html
  ios-plugin/swift-lang/src/main/resources/ESOB003.html
  ios-plugin/swift-lang/src/main/resources/ecocode-swift-rules.json
  ios-plugin/swift-lang/src/main/resources/ecocode_swift_profile.json
  ios-plugin/swift-lang/src/test/java/io/ecocode/ios/swift/checks/geolocalisation/ThriftyGeolocationCheckTest.java
  ios-plugin/swift-lang/src/test/java/io/ecocode/ios/swift/checks/motionsensor/MotionSensorUpdateRateCheckTest.java
  ios-plugin/swift-lang/src/test/resources/checks/MotionSensorRate_no_trigger.swift
  ios-plugin/swift-lang/src/test/resources/checks/MotionSensorRate_trigger.swift
  ios-plugin/swift-lang/src/test/resources/checks/geolocalisation/Geolocalisation_no_trigger.swift
  ios-plugin/swift-lang/src/test/resources/checks/geolocalisation/Geolocalisation_trigger.swift
Labels: :card_file_box: rule, ios, 🏆 challenge 🏆
