Repository green-code-initiative/ecoCode-android, pull requests merged in 2023-03, with the labels that each got.

#25 optimization of Docker container names
  android-plugin/docker-compose.yml
  ios-plugin/docker-compose.yml
Labels: android, ios, refacto

#28 Rule/erea001 supported version range
  android-plugin/src/main/resources/org/sonar/plugins/groovy/rules.xml
  android-plugin/src/test/java/org/sonar/plugins/groovy/GroovySonarWayProfileTest.java
  codenarc-converter/CodeNarc/docs/codenarc-rules-ecocode.md
  codenarc-converter/CodeNarc/src/main/groovy/org/codenarc/rule/ecocode/SupportedVersionRangeRule.groovy
  codenarc-converter/CodeNarc/src/test/groovy/org/codenarc/rule/ecocode/SupportedVersionRangeRuleTest.groovy
  docker-compose.yml
Labels: android

#33 add 'eco-design' tag on all rules
  android-plugin/src/main/resources/io/ecocode/xml/rules/EBAT001.json
  android-plugin/src/main/resources/io/ecocode/xml/rules/EIDL003.json
  android-plugin/src/main/resources/io/ecocode/xml/rules/EIDL005.json
  android-plugin/src/main/resources/io/ecocode/xml/rules/EPOW002.json
  android-plugin/src/main/resources/io/ecocode/xml/rules/EPOW003.json
  android-plugin/src/main/resources/io/ecocode/xml/rules/EPOW005.json
  android-plugin/src/main/resources/io/ecocode/xml/rules/EPOW007.json
  android-plugin/src/main/resources/io/ecocode/xml/rules/ESOB003.json
  android-plugin/src/main/resources/io/ecocode/xml/rules/ESOB004.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/EBAT002_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/EBAT003_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/EBOT001_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/EBOT002_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/EBOT003_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/EIDL001_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/EIDL002_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/EIDL004_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/EIDL006_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/EIDL007_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/EIDL008_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/EIDL009_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/ELEA002_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/ELEA003_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/ELEA004_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/ELEA005_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/ELEA006_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/EOPT001_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/EOPT002_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/EPOW004_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/EPOW006_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/ESOB001_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/ESOB002_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/ESOB005_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/ESOB006_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/ESOB007_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/ESOB008_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/ESOB010_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/ESOB011_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/ESOB012_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/ESOB013_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/ESOB014_java.json
  android-plugin/src/main/resources/org/sonar/l10n/java/rules/squid/SPRI002_java.json
  ios-plugin/swift-lang/src/main/resources/ecocode-swift-rules.json
Labels: enhancement, android, ios
